
---
// TODO: Handle JS in the frontmatter
console.log("test")
/*
 TODO: Multiline in astro
 Another line
*/

console.log("test")
---
<div>
<!-- TODO: This is a single line -->
	<h1>Words</h1>
<!-- TODO: This is a repeating multiline -->
<!-- More here -->

<!--
TODO: This is a multiline
-->
	<h2>Subtitle</h2>
<!-- TODO: Another multiline
More -->
</div>

