/* TODO: Single Line */
body {
  background-color: white;
}

/*
 TODO: Multiline Flag on Next Line
 Another line
*/
h1 {
  color: black;
}

/* TODO: Multiline Flag on Same Line
 Another line
*/
p {
  font-size: 16px;
}
